<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	<!-- mvc注解驱动 -->
	<mvc:annotation-driven />

	<!-- 静态资源默认servlet配置 加入对静态资源的处理,js,gif,png 允许使用"/"做整体映射 -->
	<mvc:default-servlet-handler />

	<mvc:resources location="/WEB-INF/resources/css/"
				   mapping="/css/**" />

	<mvc:resources location="/WEB-INF/resources/img/"
				   mapping="/img/**" />

	<mvc:resources location="/WEB-INF/resources/fonts/"
				   mapping="/fonts/**" />
	<mvc:resources location="/WEB-INF/resources/less/"
				   mapping="/less/**" />
	<mvc:resources location="/WEB-INF/resources/vendor/"
				   mapping="/vendor/**" />

	<mvc:resources location="/WEB-INF/resources/js/" mapping="/js/**" />

	<mvc:resources location="/WEB-INF/js/" mapping="/express_js/**" />
	<mvc:resources location="/WEB-INF/js/" mapping="/admin_js/**" />
	<mvc:resources location="/WEB-INF/js/" mapping="/app_js/**" />

	<!-- 自动扫描对应包下的所有类，使其为controller -->
	<context:component-scan base-package="com.express.controller" />

	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/html/"></property>
		<property name="suffix" value=".html"></property>
	</bean>

</beans>
