<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.dao.OverDueExpressDao">
	<resultMap id="expressShelfResult" type="com.express.model.OverDueExpress">
		<id property="overDueShelfId" column="shelf_id" jdbcType="INTEGER" />
		<result property="createDate" column="create_date" jdbcType="DATE" />
		<result property="status" column="shelf_status" jdbcType="VARCHAR" />
		<association property="express" column="expressinfo_id"
			select="com.express.dao.ExpressDao.getExpressInfoById" />

	</resultMap>

	<insert id="insertOverDueExpress" useGeneratedKeys="true"
		keyProperty="overDueShelfId">
		insert into overdueexpress values
		(#{overDueShelfId},#{express.id},#{createDate},#{status});
	</insert>

	<update id="updateExpressShelf">
		update overdueexpress
		<set>
			<if test="express != null">
				expressinfo_id = #{express},
			</if>
			<if test="createDate != null">
				create_date = #{createDate},
			</if>
			<if test="status != null">
				shelf_status = #{status}
			</if>
		</set>
		where shelf_id = #{overDueShelfId}
	</update>

	<select id="queryShelfByParams" resultMap="expressShelfResult">
		select shelf_id,expressinfo_id,create_date,shelf_status
		from
		overdueexpress
		<where>
			<if test="overDueShelfId != null">
				shelf_id = #{overDueShelfId}
			</if>
			<if test="express != null">
				and expressinfo_id = #{express}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate}
			</if>
			<if test="status != null">
				and shelf_status = #{status}
			</if>
		</where>
	</select>

	<select id="queryALLShelf" resultMap="expressShelfResult">
		select
		shelf_id,expressinfo_id,create_date,shelf_status
		from overdueexpress
	</select>

	<select id="queryShelfListByParams" resultMap="expressShelfResult">
		select 
		shelf_id,expressinfo_id,create_date,shelf_status
		from
		overdueexpress
		<where>
			<if test="overDueShelfId != 0">
				shelf_id = #{overDueShelfId}
			</if>
			<if test="express != null">
				and expressinfo_id = #{express}
			</if>
			<if test="createDate != null">
				and create_date = #{createDate}
			</if>
			<if test="status != null">
				and shelf_status = #{status}
			</if>
		</where>
	</select>

</mapper> 